@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Voltaire&display=swap');

/* Variables */
:root {
    --background-colour: 41, 50, 65;
    --header-background-colour: 61, 90, 128;
    --header-text-colour: 224, 251, 252;
    --content-header-text-colour: 41, 50, 65;
    --content-background-colour: 255, 255, 255;
    --content-text-colour: 0, 0, 0;
    --highlight-colour: 238, 108, 77;
    --border-colour: 0, 0, 0;
    
    --header-font: Voltaire, sans-serif;
    --content-font: "PT Sans", sans-serif;
}

/* Clear spacing and border values for all objects */
* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Set width to 100% of the viewport so scroll bars don't affect the content positioning */
html {
    width: 100vw;
}

/* Global class for elements that need a drop shadow on the bottom edge */
.bottom-drop-shadow {
    border-bottom: 1px solid rgba(var(--border-colour), 1);
    box-shadow: 0 5px 15px -6px rgba(var(--border-colour), 1);
}

/* Global class to center align text */
.center-align {
    text-align: center;
}

/* Global class to bottom align text */
.bottom-align {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

/* Main body */
body {
    background-color: rgba(var(--background-colour), 1);
    overflow-x:hidden;
}

/* Header */
header {
    background-color: rgba(var(--header-background-colour), 1);
}

#header-stick-to-top {
    position: sticky;
    top: 0;
    z-index: 999;
}

#title {
    font-family: var(--header-font);
    text-align: center;
    font-size: 5rem;
    color: rgba(var(--header-text-colour), 1);
    padding: 30px;
}

/* Main content wrapper */
.content {
    width: 60em;
    height: 100%;
    margin: 0 auto;
    border-left: 1px solid rgba(var(--border-colour), 1);
    border-right: 1px solid rgba(var(--border-colour), 1); 
    background-color: rgba(var(--content-background-colour), 1);
}

/* Nav bar */
#nav-stick-to-top {
    position: sticky;
    top: 160px;
    z-index: 998;
}

#main-menu {
    margin: 0 auto;
    padding: 30px;
    text-align: center;
    background-color: rgba(var(--header-background-colour), 1);
}

#main-menu li {
    display: inline;
    list-style-type: none;
    margin-right: 45px;
} 

#main-menu a {
    font-family: var(--header-font);
    font-size: 2rem;
    text-decoration: none;
    color: rgba(var(--header-text-colour), 1);
}

#main-menu a:hover, .menu-active{
    border-bottom: 1px solid rgba(var(--highlight-colour), 1);
}

/* Portfolio */
.portfolio-item {
    width: 100%;
    height: 700px;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
}

.portfolio-item-preview-image {
    width: auto;
    height: 500px;
    background-color: rgba(var(--content-background-colour), 1);
    text-align: center;
    margin: 0 auto;
    display: block;
}

.portfolio-item img {
    max-width: 100%;
    width: auto;
    height: 100%;
    margin: 0 auto;
}

.portfolio-item h2, h3 {
    font-family: var(--header-font);
    color: rgba(var(--content-header-text-colour), 1);
    line-height: 40px;
}

.portfolio-item-title {
    font-size: 1.5rem;
    float: left;
}

.portfolio-item-date {
    font-size: 0.8rem;
    float: right;
}

.portfolio-item-summary {
    font-family: var(--content-font);
    text-align: justify;
    color: rgba(var(--content-text-colour), 1);
    clear: both;
    margin-top: 30px;
}

.button  {
    width: 14rem;
    display: grid;
    font-family: var(--header-font);
    font-weight: bold;
    font-size: 1.5rem;
    text-decoration: none;
    margin: 15px auto;
    padding: 10px;
    background-color: rgba(var(--header-background-colour), 1);
    color: rgba(var(--header-text-colour), 1);
    border-radius: 10px;
}

.button:hover {
    text-decoration: underline;
    text-decoration-color: rgba(var(--highlight-colour), 1);
    text-underline-offset: 5px;
}

/* About page */
#about-photo {
    width: 33%;
    float: left;
    margin: 0 auto;
}

#about-description {
    width: 66%;
    float: right;
}

#about-links {
    clear: both;
    padding-top: 70px;
}

#about-links ul {
    text-align: center;
}

#about-links li {
    display: inline;
    list-style-type: none;
    margin: 0 10px 0 10px;
}

#about-links a {
    font-size: 3rem;
    color: rgba(var(--header-background-colour), 1);
}

#about-links a:hover {
    border-bottom: 1px solid rgba(var(--highlight-colour), 1);
}

/* Contact Page */
.contact-form {
    clear: both;
    font-family: var(--content-font);
    font-size: 1.2rem;
}

.contact-form-grid {
    display: grid;
    grid-template-columns: 1% auto-fit;
    grid-gap: 0.3em 0.1em;
    grid-auto-flow: dense;
}
  
.contact-form-grid input, output, textarea, select, button {
    grid-column: 2 / 4;
    width: auto;
    margin: 0;
}

.contact-form-label{
    background-color: rgba(var(--header-background-colour), 1);
    color: rgba(var(--header-text-colour), 1);
    padding: 10px 0px 10px 15px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.contact-form-input{
    font-family: var(--content-font);
    font-size: 1.2rem;
    background-color: rgba(var(--content-background-colour), 1);
    color: rgba(var(--content-text-colour), 1);
    padding: 10px 0px 10px 15px;
    border-style: solid;
    border-color: rgba(var(--header-background-colour), 1);
    border-width: 2px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.contact-form-input:focus {
    border-color: rgba(var(--highlight-colour), 1);
    outline: none;
}

.contact-form-buttons {
    text-align: center;
    margin: 15px auto;
    padding: 10px;
}

.contact-form-buttons input{
    display: inline;
}

/* Portfolio Item Pages */
.portfolio-item-detailed {
    height: 100%;
}

.portfolio-item-screenshot-gallery {
    clear: both;
    line-height: 0;
    column-count: 3;
    column-gap: 5px;
}

.portfolio-item-screenshot-gallery img {
    padding-top: 5px;
}

/* Responsive design scaling */

/* Medium screen sizes under 960px wide */
@media screen and (max-width: 960px) {
    .content {
        width: 100%;
    }

    .portfolio-item {
        padding-right: 40px;
    }
}
