@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Voltaire&display=swap');

/* Colour variables */
:root {
    --background-colour: white;
    --container-colour: #0b468c;
    --text-colour: #b7c1de;
    --object-colour: #63345e;
    --highlight-colour: black;
    --content-header-colour: navy;
}

/* Clear spacing and border values for all objects */
* {
    margin: 0;
    padding: 0;
    border: none;
}

.bottom-drop-shadow {
    /* Borders */
    border-bottom: 1px solid var(--highlight-colour);
    box-shadow: 0 5px 15px -6px var(--highlight-colour);
}

/* Main body */

body {
    background-color: var(--background-colour);
}

/* Header */

header {
    /* Colours */
    background-color: var(--container-colour);
}


#title {
    /* Text */
    font-family: Voltaire, sans-serif;
    text-align: center;
    font-size: 500%;

    /* Colours */
    color: var(--text-colour);

    /* Spacing */
    padding: 30px;
}

/* Main content wrapper */

#content {
    /* Sizing */
    width: 60em;
    height: 100%;

    /* Spacing */
    margin: 0 auto;

    /* Borders */
    border-left: 1px solid var(--highlight-colour);
    border-right: 1px solid var(--highlight-colour); 
}

/* Nav bar */
#main-menu {
    /* Spacing */
    margin: 0 auto;
    padding: 30px;

    /* Text */
    text-align: center;

    /* Colours */
    background-color: var(--container-colour);
}

#main-menu li {
    /* Appearance */
    display: inline;
    list-style-type: none;

    /* Spacing */
    margin-right: 45px;
} 

#main-menu a {
    /* Text */
    font-family: Voltaire, sans-serif;
    font-size: 200%;

    /* Colours */
    color: var(--text-colour);

    /* Appearance */
    text-decoration: none;
}

#main-menu a:hover, .menu-active{
    /* Appearance */
    border-bottom: 1px solid var(--text-colour);
}

/* Portfolio */

.portfolio-item {
    /* Sizing */
    width: 100%;
    height: 700px;

    /* Spacing */
    padding: 20px;
    box-sizing: border-box;
}

.portfolio-item img {
    width: 100%;
}

.portfolio-item h2 {
    /* Text */
    font-family: Voltaire, sans-serif;
    font-size: 150%;

    /* Colour */ 
    color: var(--content-header-colour);

    /* Positioning */
    float: left;
}